.render-mode-documentation {
    $documentation-text-color: white;
    $documentation-body-color: var(--#{$prefix}blue-50);
    $documentation-bg-color: var(--#{$prefix}blue-500);
    $documentation-darker-bg-color: var(--#{$prefix}blue-700);
    $documentation-dark-blue: var(--#{$prefix}blue-900);

    word-break: break-all;

    --#{$prefix}body-bg: #{$documentation-bg-color};
    --#{$prefix}body-color: #{$documentation-body-color};
    --#{$prefix}heading-color: #{$documentation-text-color};
    --#{$prefix}secondary-color: #{$documentation-text-color};
    --#{$prefix}emphasis-color: #{$documentation-text-color};

    .card {
        --#{$prefix}severity-card-header-bg: var(--#{$prefix}primary-100);
        --#{$prefix}severity-card-header-color: var(--#{$prefix}primary-600);
        --#{$prefix}severity-card-border-color: var(--#{$prefix}primary-300);
        --#{$prefix}severity-card-footer-bg: color-mix(in srgb, var(--#{$prefix}primary-400) 40%, transparent);
        --#{$prefix}severity-card-bg: var(--#{$prefix}primary-50);
    }

    --#{$prefix}severity-color: var(--#{$prefix}primary-700);

    .badge {
        --#{$prefix}severity-badge-bg: $documentation-bg-color;
        --#{$prefix}severity-badge-color: $documentation-text-color;
        --#{$prefix}severity-badge-border-color: var(--#{$prefix}primary-100);
    }

    .collapsible-row-details {
        background-color: #{$documentation-bg-color};
    }

    .text-muted {
        opacity: 70%;
    }

    .section .text-icon {
        display: none;
    }

    .icon {
        color: $documentation-text-color;
    }

    .collapse-all-btn {
        border: 1px solid $documentation-text-color;
    }

    .collapse-row-icon {
        opacity: 100%;
    }

    .divider {
        --color: var(--#{$prefix}primary-800) !important;
        --background-color: var(--#{$prefix}primary-500) !important;
        --icons-color: var(--#{$prefix}primary-400) !important;

        hr {
            opacity: 70%;
            --#{$prefix}hr-bg-color: #{$documentation-text-color};
        }
    }

    .collapse-toggler-empty-column {
        --#{$prefix}thead-bg-color: #{$documentation-darker-bg-color};
        --#{$prefix}thead-color: #{$documentation-text-color};
    }

    th {
        word-break: initial;
        --#{$prefix}th-bg-color: #{$documentation-darker-bg-color};
        --#{$prefix}th-color: #{$documentation-text-color};
    }

    .table > :not(caption) > * > * {
        --#{$prefix}table-color: #{$documentation-text-color};
    }

    .card {
        --#{$prefix}card-cap-bg: #{$documentation-darker-bg-color};
        --#{$prefix}card-cap-color: #{$documentation-text-color};

        --#{$prefix}severity-card-header-bg: #{$documentation-darker-bg-color};
        --#{$prefix}severity-card-bg: #{$documentation-bg-color};

        --#{$prefix}severity-card-header-color: #{$documentation-text-color};
    }

    .badge {
        --#{$prefix}badge-bg: #{$documentation-darker-bg-color};
        --#{$prefix}badge-color: #{$documentation-text-color};
    }

    .timeline-body:not(:has(.section)) .card:not(.card .card) {
        background-color: var(--#{$prefix}blue-400);
    }

    .timeline-body:not(:has(.section)) .card .card .card-body {
        background-color: var(--#{$prefix}blue-400);
    }

    .timeline-vertical {
        &::before {
            background: var(--#{$prefix}blue-400);
        }
    }

    .capitalize-first:first-letter {
        text-transform: unset;
    }

    .uppercase {
        text-transform: unset;
    }

    .merged-service-requests {
        background-color: var(--#{$prefix}blue-400);
    }

    .abnormal {
        background-color: var(--#{$prefix}blue-300);
    }

    .critical {
        background-color: var(--#{$prefix}blue-500);
    }

    .document-header {
        dd {
            min-width: 10rem;
        }
    }

    dt {
        word-break: keep-all;
    }

    dd {
        min-width: 5em;
    }

    .patient-identifier-grid {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 1rem;
    }

    .badge, .lab-abnormal-value {
        white-space: unset;
        line-height: 1.2;
    }

    .name-value-pair.secondary dt.name {
        color: var(--#{$prefix}blue-200);
    }

    .name-value-pair.primary dt.name {
        color: var(--#{$prefix}blue-900);
    }
}
