@use "theme-variables" as *;

@media print {
    @page {
        size: A4;
        margin: 50px;

        @bottom-center {
            content: counter(page);
        }
    }


    body {
        margin: 0;
        padding: 0;
    }

    .card {
        break-inside: avoid;
    }

    .section > label {
        break-after: avoid;
        break-inside: avoid;
        display: block;
    }

    .section {
        background-color: unset !important;
    }

    .resource-container > span {
        break-after: avoid;
        break-inside: avoid;
        display: block;
    }

    ::-webkit-scrollbar,
    .collapse-icon,
    .collapse-toggler-column,
    .collapse-toggler-empty-column,
    .collapse-label .divider-label-subtitle,
    .divider .collapse-icon + hr,
    .narrative-modal-button,
    .narrative-cell,
    .collapse-all-btn,
    .collapse-toggler-wrapper,
    .no-print,
    .collapser-icon-wrapper {
        display: none !important;
    }

    a {
        color: unset;
        text-decoration: none;
    }

    .collapsible-content-wrapper > .collapsible-content:not(.card > .collapsible-content-wrapper > .collapsible-content) {
        padding-top: $spacing02;
    }
}
