@media print {
    body {
        visibility: hidden;
    }
    
    .display-tool-body {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
    }
}
h3 {
    color: royalblue;
}

svg.icon {
    width: 2rem;
}
