@use "../../HtmlResources/src/theme-variables" as *;

.section-default {
    --odd-level-section-background-color: var(--#{$prefix}primary-50);
    --even-level-section-background-color: white;
}

.section-secondary {
    --odd-level-section-background-color: var(--#{$prefix}secondary-100);
    --even-level-section-background-color: white;
}

.section-info {
    --odd-level-section-background-color: var(--#{$prefix}info-100);
    --even-level-section-background-color: white;
}

.section-success {
    --odd-level-section-background-color: var(--#{$prefix}success-100);
    --even-level-section-background-color: white;
}

.section-warning {
    --odd-level-section-background-color: var(--#{$prefix}warning-100);
    --even-level-section-background-color: white;
}

.section-error {
    --odd-level-section-background-color: var(--#{$prefix}danger-100);
    --even-level-section-background-color: white;
}

.section-gray {
    --odd-level-section-background-color: var(--#{$prefix}gray-100);
    --even-level-section-background-color: white;
}

// Handle switching bg-color for nested sections by level. Odd and even levels has it's bg-colors defined above for each severity.
$max-level: 10;
@mixin nested-section-background($level: 1, $selector: '.section') {
    @if ($level % 2 == 0) {
        #{$selector} {
            background-color: var(--even-level-section-background-color);
            --striped-section-bg-color: var(--odd-level-section-background-color);
        }
    } @else {
        #{$selector} {
            background-color: var(--odd-level-section-background-color);
            --striped-section-bg-color: var(--even-level-section-background-color);
        }
    }

    @if $level < $max-level {
        @include nested-section-background($level + 1, $selector + ' .section');
    }
}

@include nested-section-background();

.section {
    border-radius: var(--dt-border-radius-sm);
    margin-top: $spacing02;
    margin-bottom: $spacing02;
}

.section .section:not(:has(+ .section)) {
    margin-bottom: 0;
}

.collapse-label {
    width: 100%;
}

.collapse-checkbox :checked + .collapse-label {
    opacity: 75%;
}

.collapsible-content, .section .section .collapsible-content {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
}

.section {
    padding-bottom: $spacing01;

    // When section is closed, small part (few pixels) of it's content is visible because of padding, that eliminates this issue.
    &:not(:has(> input:checked)) {
        padding-bottom: 0;
    }

    // Remove top margin in case it's first child of collapsible-content which has top padding applied. 
    // Two selectors because if hideable detail is present, actual content is wrapped in div element.
    & .collapsible-content-wrapper > .collapsible-content > :first-child.section,
    .collapsible-content-wrapper > .collapsible-content > div > :first-child.section {
        margin-top: 0 !important;
    }
}

.collapsible-content:has(.badge:not(.collapser .badge):not(.card .badge):not(table .badge)) {
    padding-left: calc(0.65em + $spacing01); // --dt-badge-padding-x is 0.65em and for some reason doesn't resolve in the browser
    padding-right: calc(0.65em + $spacing01); // --dt-badge-padding-x is 0.65em and for some reason doesn't resolve in the browser

    .section:is(.section .section) {
        margin-left: calc(-0.65em - $spacing01); // --dt-badge-padding-x is 0.65em and for some reason doesn't resolve in the browser
        margin-right: calc(-0.65em - $spacing01); // --dt-badge-padding-x is 0.65em and for some reason doesn't resolve in the browser
    }
}

.other-section-margin:not(:only-child) {
    margin-top: $spacing02;
}

